<app-header></app-header>
<main>
  <section class="main-section pad-90">
    <div class="headline">
      <span>DIAZ CONSULTORIA</span>
      <h1>Code. Connect. Conquer: Transformando Ideias <br/>em Soluções Digitais</h1>
    </div>
    <img ngSrc="/assets/images/principal.png" width="669" height="536">
  </section>
  <section class="benefit-section pad-90">
      <div class="benefit-data">
         <h2>
          95% das<br/>empresas
         </h2>
      </div>
      <p>Apresentam dificuldades em lidar com questões de <b>escalabilidade</b> e enfrentam desafios significativos devido ao elevado volume de requisições.</p>
  </section>
</main>

<btn-primary>
  
</btn-primary>
